In [91]:
#-*- coding: utf-8 -*-
import os
import sys
import urllib.request
client_id = "xTsOEpqU869lYEaqyaU6"
client_secret = "kkp_ZP2j9T"
url = "https://openapi.naver.com/v1/datalab/search";
body = "{\"startDate\":\"2017-01-01\",\"endDate\":\"2017-01-30\",\"timeUnit\":\"month\",\"keywordGroups\":[{\"groupName\":\"한글\",\"keywords\":[\"한글\"]},{\"groupName\":\"영어\",\"keywords\":[\"영어\"]}],\"device\":\"pc\",\"ages\":[\"1\",\"2\"],\"gender\":\"f\"}";

request = urllib.request.Request(url)
request.add_header("X-Naver-Client-Id",client_id)
request.add_header("X-Naver-Client-Secret",client_secret)
request.add_header("Content-Type","application/json")
response = urllib.request.urlopen(request, data=body.encode("utf-8"))
rescode = response.getcode()
if(rescode==200):
    result = json.loads(response.read())
    response_body = response.read()
    print(response_body.decode('utf-8'))
    print(result)
else:
    print("Error Code:" + rescode)

{'startDate': '2017-01-01', 'endDate': '2017-01-31', 'timeUnit': 'month', 'results': [{'title': '한글', 'keywords': ['한글'], 'data': [{'period': '2017-01-01', 'ratio': 100}]}, {'title': '영어', 'keywords': ['영어'], 'data': [{'period': '2017-01-01', 'ratio': 81.97456}]}]}

In [17]:
import pandas as pd
import json

In [26]:
print(result)

{'startDate': '2017-01-01', 'endDate': '2017-01-31', 'timeUnit': 'month', 'results': [{'title': '한글', 'keywords': ['한글', 'korean'], 'data': [{'period': '2017-01-01', 'ratio': 100}]}, {'title': '영어', 'keywords': ['영어', 'english'], 'data': [{'period': '2017-01-01', 'ratio': 85.29199}]}]}

In [135]:
# df = pd.DataFrame(result['results'][0]['title'])
tmp = pd.DataFrame(result['results'][0]['data'],a)
tmp
# name =  pd.DataFrame(result['results'][0]['data'])
# # tmp = tmp.rename(columns={'ratio': result['results'][0]['title']})
# df = pd.merge(df, tmp, how='left', on=['period'])

        period  ratio
한글  2017-01-01    100

In [134]:
df = pd.DataFrame(result['results'][0]['keywords'])
df

    0
0  한글

In [111]:
tmp

       period  ratio
0  2017-01-01    100

In [116]:
tmp = pd.concat([tmp,df],index=[0])
tmp

       period  ratio   0   0
0  2017-01-01    100  한글  한글