In [1]:
#pip install cx_Oracle
import cx_Oracle

dsn = cx_Oracle.makedsn("localhost", 1521, service_name = "XE") # 오라클 주소
connection = cx_Oracle.connect(user="scott", password="tiger", dsn=dsn, encoding="UTF-8") # 오라클 접속

In [2]:
cur = connection.cursor() # 실행 결과 데이터를 담을 메모리 객체

In [3]:
import pandas as pd

In [4]:
df=pd.DataFrame({'title':['친환경브랜드','지구의날행사','지구의날행사','지구의날행사','지구의날행사','지구의날행사','지구의날행사','지구의날행사','지구의날행사','지구의날행사'],'period':['2022-01-01','2022-01-01','2022-01-01','2022-01-01','2022-01-01','2022-01-01','2022-01-01','2022-01-01','2022-01-01','2022-01-01']})

In [5]:
df_list = df.to_records(index=False)

In [6]:
df_list = df.values.tolist()
df_list

[['친환경브랜드', '2022-01-01'],
 ['지구의날행사', '2022-01-01'],
 ['지구의날행사', '2022-01-01'],
 ['지구의날행사', '2022-01-01'],
 ['지구의날행사', '2022-01-01'],
 ['지구의날행사', '2022-01-01'],
 ['지구의날행사', '2022-01-01'],
 ['지구의날행사', '2022-01-01'],
 ['지구의날행사', '2022-01-01'],
 ['지구의날행사', '2022-01-01']]

In [11]:
cur.executemany("INSERT INTO plastic (title, day) VALUES (:1,:2)",
            df_list, batcherrors = True)

In [12]:
cur.execute("commit")

In [13]:
cur.execute("TRUNCATE TABLE plastic")
cur.execute("commit")
cur.close()
connection.close()